<button
   type="Button"
   onClick="location.href='<%= button.url %>'"
   class="font-title uppercase inline-flex justify-center rounded-full shadow items-center
      font-bold text-grey-2 border-primary border-2
      leading-4 p-4
      transition duration-300 ease-in-out
      hover:bg-grey-2 hover:text-grey-8 hover:shadow-lg
   ">
   <span><%= button.label %></span>
</button>
