<button
   type="Button"
   onClick="location.href='<%= button.url %>'"
   class="leading-3 font-title uppercase px-4 py-2 inline-flex justify-center
      text-grey-2 font-bold border-primary border-2 text-sm
      rounded-full shadow items-center
      hover:bg-primary hover:text-grey-2 hover:shadow-lg
      transition duration-300 ease-in-out
   ">
   <span><%= button.label %></span>
</button>
